<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" id="divHeader" class="upper">
    <h2>
      Welcome back User {{ title }} !
    </h2>
    <button id="btnLogin" routerLink = "/defaultPage">Logout</button>
  </div>
  
  <div id="divItemDetails" class="lower">
  <table>
      <thead>
      <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        </thead>
      <tr *ngFor = "let item of itemDetails" [class.Selected]="item === selectedProduct" 
      (click)="getItemDetail(item)" >
           <td> {{ item.name }} </td> 
           <td> <img src="{{item.imageLocation}}" height="120" width="180"> </td>
           <td> {{item.price}} </td>
           <td> {{item.rating}} </td>
           <td> <input type="number"> </td>
           <td> <button class="btnToCart">Add</button> </td>
      </tr>
  </table>
  <!-- <div align="right"> -->
  <table id="shopingCart"  align="right"  style="vertical-align: top;">
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tr *ngFor = "let selected of rows">
      <td>{{selected.name}}</td>
      <td>{{selected.price}}</td>
      <td>{{selected.qty}}</td>
    </tr>
  </table>
<!-- </div> -->
  </div>
  <router-outlet></router-outlet>