<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" id="divHeader" class="upper">
    <h2>
      Welcome back User {{ title }} !
    </h2>
    <button id="btnLogin" routerLink = "/defaultPage">Logout</button>
    <button id="btnSort" (click)="sortData()">Sort Items </button>
  </div>
  
  <div id="divItemDetails" class="lower">
  <table>
      <thead>
      <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        </thead>
      <tr *ngFor = "let item of itemDetails">
           <td (click)="itemPage(item)"> {{ item.name }} </td> 
           <td> <img src="{{item.imageLocation}}" height="120" width="180"> </td>
           <td> {{item.price}} </td>
           <td> {{item.rating}} </td>
           <td> <input type="number" value="{{item.inventory}}" [(ngModel)] = "qtyToPurchase" > </td>
           <td> <button class="btnToCart" (click)="addToCart(item)">Add</button> </td>
      </tr>
  </table>
  <!-- <div align="right"> -->
  <table id="shopingCart"  align="right"  style="vertical-align: top;">
    <thead>
      <th>Item</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Tax</th>
      <th>Add</th>
      <th>Remove</th>
      <th style="display:none;">inventory</th>
      <th style="display:none;">Items Sold</th>
    </thead>
    <tr *ngFor = "let selected of rows">
      <td>{{selected.name}}</td>
      <td>{{selected.price}}</td>
      <td>{{selected.qty}}</td>
      <td>{{selected.tax}}</td>
      <td> <button class="btnToEditCart" (click)="increment(selected)">+</button> </td>
      <td> <button class="btnToEditCart" (click)="removeItem(selected)">-</button> </td>
      <td style="display:none;">{{selected.inventory}}</td>
      <td style="display:none;">{{selected.itemSold}}</td>
    </tr>
  </table>
  <div id="orderDetails"  align="right">
    <button class="btnToCart" (click)="buy()">Buy</button> 
    <button class="btnToCart" (click)="clearCart()">Cancel</button> 
  </div>
<!-- </div> -->
  </div>
  <router-outlet></router-outlet>