<div class="upper">
  <h2>Welcome to the image detail page</h2>
  <button id="btnLogin" routerLink = "/authenticatedUser">Go Back</button>
</div>
<div class="lower">
  <table id="imageDetails">
    <thead>
      <th>Item Details</th>
    </thead>
    <tr *ngFor = "let item of selectedProduct">
      <td>{{item.name}}</td>
    </tr>
    <tr *ngFor = "let item of selectedProduct">
      <td> <img src="{{item.imageLocation}}" height="120" width="180"> </td>
    </tr>
    <tr *ngFor = "let item of selectedProduct">
        <td> <input type="text" value="Private" [(ngModel)] = "wishlistVisibility"> <button (click)="wishlistItem(item)"> Wishlist </button> </td>
      </tr>
    <tr *ngFor = "let item of selectedProduct">
      <td> <input value="{{item.rating}}" [(ngModel)]="userRating"> <button (click)="rateProduct()">Rate</button> </td>
    </tr>
    <tr>
      <td><input  [(ngModel)]="userComment" value="User Comment"><button (click)="addComment()">Add</button></td>
    </tr>
    <tr *ngFor = "let comment of comments">
      <td> {{comment.comment}} </td>
      <td> {{comment.user}} </td>
    </tr>
  </table>
<!-- </div>
<div  align="right"> -->
  <br>
  <h3 align="right">Wishlist</h3>
  <br>
  <table id="wishlistDetails" align="right">
    <thead>
      <th>Item</th>
      <th>Visibility</th>
      <th>Remove</th>
    </thead>
    <tr *ngFor = "let itm of wishlist">
        <td> {{itm.name}} </td>
        <td> {{itm.visibility}} </td>
        <td><button  (click)="removeFromWishList(itm)">Delete</button></td>
      </tr>
  </table>
</div>