<div class="upper">
  <h2>Welcome to the image detail page</h2>
  <button id="btnLogin" routerLink = "/authenticatedUser">Go Back</button>
</div>
<div class="lower">
  <table>
    <thead>
      <th>Item Details</th>
    </thead>
    <tr *ngFor = "let item of selectedProduct">
      <td>{{item.name}}</td>
    </tr>
    <tr *ngFor = "let item of selectedProduct">
      <td> <img src="{{item.imageLocation}}" height="120" width="180"> </td>
    </tr>
    <tr *ngFor = "let item of selectedProduct">
      <td> <input value="{{item.rating}}" [(ngModel)]="userRating"> <button (click)="rateProduct()">Rate</button> </td>
    </tr>
    <tr>
      <td><input  [(ngModel)]="userComment" value="User Comment"><button (click)="addComment()">Add</button></td>
    </tr>
    <tr *ngFor = "let comment of comments">
      <td> {{comment.comment}} </td>
      <td> {{comment.user}} </td>
    </tr>
  </table>
</div>