<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" id="divHeader" class="upper">
  <h2>
    Welcome Admin {{ title }}!
  </h2>
  <button id="btnUserInterface">Go Shopping</button>
  <button id="btnLogin" routerLink = "/defaultPage">Logout</button>
</div>

<div id="divItemDetails" class="lower">
  <div>
  <form [formGroup]="addItems">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="itemname" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="text" class="form-control" formControlName="imageLoaction" required>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" required>
    </div>
    <div class="form-group">
      <label>Invtry</label>
      <input type="number" class="form-control" formControlName="Inventory" required>
    </div>
    <button type="submit" class="btn btn-default" id="btnAddItem" (click)="addItem(addItems.value)">Add Item</button>
  </form>
</div>
<br>
<div>
  <table id="updateInventory">
    <thead>
      <th>Item</th>
      <th>updated Inventory</th>
      <th> Price </th>
      <th>Save</th>
      <th>Delete Item</th>
      
    </thead>
    <tr *ngFor = "let item of itemDetails">
           <td> {{ item.name }} </td> 
           <td>  <input class="textarea" type="number" value="{{item.price}}" [(ngModel)]= "item.price"> </td>
           <td>  <input class="textarea" type="number" value="{{item.inventory}}" [(ngModel)]= "item.inventory"> </td>
           <td> <button class="btnUpdate" (click)="updateItem(item)">Save</button> </td>
           <td> <button class="btnUpdate">Delete</button> </td>
      </tr>
  </table>
</div>
<br>
<br>
<div>
  <table id="manageUsers">
    <thead>
      <th>User</th>
      <th>Deactivate Account</th>
      <th>Assign Admin Rights</th>
    </thead>
    <tr *ngFor = "let user of userList">
      <td  style="overflow:scroll; width:50px;"> {{ user.username }} </td> 
      <td> <button class="btnUpdate">Deactivate</button> </td>
      <td> <button class="btnUpdate">Assign</button> </td>
 </tr>
  </table>
</div>
</div>
<router-outlet></router-outlet>