.btn-default{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0.5px solid rgba(2, 0, 7, 0.349);
}

.btn-default:hover {
    background-color: #008CBA;; /* Green */
    color: white;
  }

#loginDiv{
    margin-top: 30px;
    /* margin-left: 60px;  */
    border: 1px solid rgba(2, 0, 7, 0.171);
    padding: 10px;
}